h1, h2, h3, h3, h4, h5, h6, p, ul {
    text-align: center;
}

ul {
    list-style: none;
}

.demo-layout-transparent .mdl-layout__drawer-button {
    color: white;
}

#banner {
    padding: 3rem 0;
    background: #eee;
    background-size: cover;
}

.mdl-card__media {
    margin: 0;
}
.mdl-card__media > img, .mdl-cell > img {
    max-width: 100%;
}
.mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}
.mdl-card__actions > .mdl-button--icon {
    margin-right: 3px;
    margin-left: 3px;
}

.mdl-button {
    display: block;
    margin: 0 auto;
}

.inner {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.bottom-content {
    background: #eee;
    padding: 3rem;
}

@media screen and (max-width: 760px) {
    .bottom-content {
        padding: 3rem 0;
    }
}

.mdl-tabs {
    background: #fff;
}

.mdl-progress {
    margin-top: 15px;
}

/* Responsive table */
.mdl-data-table {
    table-layout: fixed;
    width: 100%;
}
#my-table td, th {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.center-items {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
